body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
p {
    color: white
}
iframe{
    margin: 0 auto;
    display: block;
}
#primeiraul{
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
}
#segundaul{
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
}
a{
    text-align: center;
    display: flex;
    justify-content: center;
}
